*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

.go/
.go-cache/


.env
.env.local
.env.test
.env.development.local
.env.development
.env.test.local
.env.production.local
